/* Regole generali css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../public/wood-1108307_1280.jpg);
}

/* Regole Container */
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}